<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="elaboracionInsumo">
            <h2><span jhiTranslate="queenBeerApp.elaboracionInsumo.detail.title">Elaboracion Insumo</span> {{elaboracionInsumo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.extracto">Extracto</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.extracto}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.color">Color</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.color}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.porcentage">Porcentage</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.porcentage}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.kilogramos">Kilogramos</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.kilogramos}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.uso">Uso</span></dt>
                <dd>
                    <span jhiTranslate="{{'queenBeerApp.UsoLupulo.' + elaboracionInsumo.uso}}">{{elaboracionInsumo.uso}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.alpha">Alpha</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.alpha}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.modo">Modo</span></dt>
                <dd>
                    <span jhiTranslate="{{'queenBeerApp.ModoLupulo.' + elaboracionInsumo.modo}}">{{elaboracionInsumo.modo}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.gramos">Gramos</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.gramos}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.gl">Gl</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.gl}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.tiempo">Tiempo</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.tiempo}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.ibu">Ibu</span></dt>
                <dd>
                    <span>{{elaboracionInsumo.ibu}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.elaboracion">Elaboracion</span></dt>
                <dd>
                    <div *ngIf="elaboracionInsumo.elaboracionId">
                        <a [routerLink]="['/elaboracion-queen-beer', elaboracionInsumo.elaboracionId, 'view']">{{elaboracionInsumo.elaboracionId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.elaboracionInsumo.insumo">Insumo</span></dt>
                <dd>
                    <div *ngIf="elaboracionInsumo.insumoId">
                        <a [routerLink]="['/insumo-queen-beer', elaboracionInsumo.insumoId, 'view']">{{elaboracionInsumo.insumoId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/elaboracion-insumo-queen-beer', elaboracionInsumo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
