<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-elaboracion-insumo-queen-beer-heading" jhiTranslate="queenBeerApp.elaboracionInsumo.home.createOrEditLabel">Create or edit a Elaboracion Insumo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!elaboracionInsumo.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="elaboracionInsumo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.extracto" for="field_extracto">Extracto</label>
                    <input type="number" class="form-control" name="extracto" id="field_extracto"
                        [(ngModel)]="elaboracionInsumo.extracto" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.color" for="field_color">Color</label>
                    <input type="number" class="form-control" name="color" id="field_color"
                        [(ngModel)]="elaboracionInsumo.color" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.porcentage" for="field_porcentage">Porcentage</label>
                    <input type="number" class="form-control" name="porcentage" id="field_porcentage"
                        [(ngModel)]="elaboracionInsumo.porcentage" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.kilogramos" for="field_kilogramos">Kilogramos</label>
                    <input type="number" class="form-control" name="kilogramos" id="field_kilogramos"
                        [(ngModel)]="elaboracionInsumo.kilogramos" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.uso" for="field_uso">Uso</label>
                    <select class="form-control" name="uso" [(ngModel)]="elaboracionInsumo.uso" id="field_uso" >
                        <option value="BOIL">{{'queenBeerApp.UsoLupulo.BOIL' | translate}}</option>
                        <option value="FIRST_WORT">{{'queenBeerApp.UsoLupulo.FIRST_WORT' | translate}}</option>
                        <option value="DRY_HOP">{{'queenBeerApp.UsoLupulo.DRY_HOP' | translate}}</option>
                        <option value="AROMA">{{'queenBeerApp.UsoLupulo.AROMA' | translate}}</option>
                        <option value="MASH">{{'queenBeerApp.UsoLupulo.MASH' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.alpha" for="field_alpha">Alpha</label>
                    <input type="number" class="form-control" name="alpha" id="field_alpha"
                        [(ngModel)]="elaboracionInsumo.alpha" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.modo" for="field_modo">Modo</label>
                    <select class="form-control" name="modo" [(ngModel)]="elaboracionInsumo.modo" id="field_modo" >
                        <option value="PELET">{{'queenBeerApp.ModoLupulo.PELET' | translate}}</option>
                        <option value="FLOR">{{'queenBeerApp.ModoLupulo.FLOR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.gramos" for="field_gramos">Gramos</label>
                    <input type="number" class="form-control" name="gramos" id="field_gramos"
                        [(ngModel)]="elaboracionInsumo.gramos" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.gl" for="field_gl">Gl</label>
                    <input type="number" class="form-control" name="gl" id="field_gl"
                        [(ngModel)]="elaboracionInsumo.gl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.tiempo" for="field_tiempo">Tiempo</label>
                    <input type="number" class="form-control" name="tiempo" id="field_tiempo"
                        [(ngModel)]="elaboracionInsumo.tiempo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.ibu" for="field_ibu">Ibu</label>
                    <input type="number" class="form-control" name="ibu" id="field_ibu"
                        [(ngModel)]="elaboracionInsumo.ibu" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.elaboracion" for="field_elaboracion">Elaboracion</label>
                    <select class="form-control" id="field_elaboracion" name="elaboracion" [(ngModel)]="elaboracionInsumo.elaboracionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="elaboracionOption.id" *ngFor="let elaboracionOption of elaboracions; trackBy: trackElaboracionById">{{elaboracionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.insumo" for="field_insumo">Insumo</label>
                    <select class="form-control" id="field_insumo" name="insumo" [(ngModel)]="elaboracionInsumo.insumoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="insumoOption.id" *ngFor="let insumoOption of insumos; trackBy: trackInsumoById">{{insumoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
