<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>
                    <h2 id="jhi-elaboracion-queen-beer-heading" jhiTranslate="queenBeerApp.elaboracion.home.createOrEditLabel">Create or edit a Elaboracion</h2>
                </h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/"><i class="zmdi zmdi-home"></i> <span jhiTranslate="global.menu.home">Home</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

                                    <div>
                                        <jhi-alert-error></jhi-alert-error>
                                        <div class="form-group" [hidden]="!elaboracion.id">
                                            <label for="id" jhiTranslate="global.field.id">ID</label>
                                            <input type="text" class="form-control" id="id" name="id"
                                                   [(ngModel)]="elaboracion.id" readonly />
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.lote" for="field_lote">Lote</label>
                                                    <input type="text" class="form-control" name="lote" id="field_lote"
                                                           [(ngModel)]="elaboracion.lote" />
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.nombre" for="field_nombre">Nombre</label>
                                                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                                                           [(ngModel)]="elaboracion.nombre" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.estilo" for="field_estilo">Estilo</label>
                                                    <input type="text" class="form-control" name="estilo" id="field_estilo"
                                                           [(ngModel)]="elaboracion.estilo" />
                                                </div>
                                                <div class="col-6">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
                                                    <div class="d-flex">
                                                        <input id="field_fechaInicio" type="datetime-local" class="form-control" name="fechaInicio" [(ngModel)]="fechaInicio"/>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.fechaFin" for="field_fechaFin">Fecha Fin</label>
                                                    <div class="input-group">
                                                        <input id="field_fechaFin" type="datetime-local" class="form-control" name="fechaFin" [(ngModel)]="elaboracion.fechaFin"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.chequeo" for="field_chequeo">Chequeo</label>
                                                    <input type="checkbox" class="form-control" name="chequeo" id="field_chequeo"
                                                           [(ngModel)]="elaboracion.chequeo" />
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.limpieza" for="field_limpieza">Limpieza</label>
                                                    <input type="checkbox" class="form-control" name="limpieza" id="field_limpieza"
                                                           [(ngModel)]="elaboracion.limpieza" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.limpiezaOlla" for="field_limpiezaOlla">Limpieza Olla</label>
                                                    <input type="checkbox" class="form-control" name="limpiezaOlla" id="field_limpiezaOlla"
                                                           [(ngModel)]="elaboracion.limpiezaOlla" />
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.limpiezaManguera" for="field_limpiezaManguera">Limpieza Manguera</label>
                                                    <input type="checkbox" class="form-control" name="limpiezaManguera" id="field_limpiezaManguera"
                                                           [(ngModel)]="elaboracion.limpiezaManguera" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.macerado" for="field_macerado">Macerado</label>
                                                    <select class="form-control" name="macerado" [(ngModel)]="elaboracion.macerado" id="field_macerado" >
                                                        <option value="INFUCION">{{'queenBeerApp.TipoMacerado.INFUCION' | translate}}</option>
                                                        <option value="ESCALONADO">{{'queenBeerApp.TipoMacerado.ESCALONADO' | translate}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.inicioMacerado" for="field_inicioMacerado">Inicio Macerado</label>
                                                    <div class="input-group">
                                                        <input id="field_inicioMacerado" type="datetime-local" class="form-control" name="inicioMacerado" [(ngModel)]="elaboracion.inicioMacerado"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.primerEscalon" for="field_primerEscalon">Primer Escalon</label>
                                                    <input type="checkbox" class="form-control" name="primerEscalon" id="field_primerEscalon"
                                                           [(ngModel)]="elaboracion.primerEscalon" />
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.segundoEscalon" for="field_segundoEscalon">Segundo Escalon</label>
                                                    <input type="checkbox" class="form-control" name="segundoEscalon" id="field_segundoEscalon"
                                                           [(ngModel)]="elaboracion.segundoEscalon" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.tercerEscalon" for="field_tercerEscalon">Tercer Escalon</label>
                                                    <input type="checkbox" class="form-control" name="tercerEscalon" id="field_tercerEscalon"
                                                           [(ngModel)]="elaboracion.tercerEscalon" />
                                                </div>
                                                <div class="col-6">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.litroInicial" for="field_litroInicial">Litro Inicial</label>
                                                    <input type="number" class="form-control" name="litroInicial" id="field_litroInicial"
                                                           [(ngModel)]="elaboracion.litroInicial" />
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.relacionMaltaAgua" for="field_relacionMaltaAgua">Relacion Malta Agua</label>
                                                    <input type="number" class="form-control" name="relacionMaltaAgua" id="field_relacionMaltaAgua"
                                                           [(ngModel)]="elaboracion.relacionMaltaAgua" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.litroFalsoFondo" for="field_litroFalsoFondo">Litro Falso Fondo</label>
                                                    <input type="number" class="form-control" name="litroFalsoFondo" id="field_litroFalsoFondo"
                                                           [(ngModel)]="elaboracion.litroFalsoFondo" />
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracion.litroTotal" for="field_litroTotal">Litro Total</label>
                                                    <input type="number" class="form-control" name="litroTotal" id="field_litroTotal"
                                                           [(ngModel)]="elaboracion.litroTotal" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="form-control-label" jhiTranslate="queenBeerApp.elaboracionInsumo.insumo" for="field_insumo">Insumo</label>
                                                    <select class="form-control" id="field_insumo" name="insumo" [(ngModel)]="elaboracionInsumo" >
                                                        <option [ngValue]="null"></option>
                                                        <option [ngValue]="insumoOption.id" *ngFor="let insumoOption of insumos; trackBy: trackInsumoById">{{insumoOption.nombre}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <button type="button"  class="btn btn-primary"  (click)="addInsumo()">
                                                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.add">Agregar</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-6">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th><span jhiTranslate="queenBeerApp.elaboracion.grano">Granos</span> </th>
                                                                <th><span jhiTranslate="queenBeerApp.elaboracion.extracto">Extracto</span> </th>
                                                                <th><span jhiTranslate="queenBeerApp.elaboracion.color">Color</span> </th>
                                                                <th><span jhiTranslate="queenBeerApp.elaboracion.porcentage">%</span> </th>
                                                                <th><span jhiTranslate="queenBeerApp.elaboracion.kilogramo">Kilogramo</span> </th>
                                                                <th><span jhiTranslate="queenBeerApp.elaboracion.uso">Uso</span> </th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr *ngFor="let insumo of insumosAgregado ;trackBy: trackId">
                                                                <td>
                                                                    <select class="form-control" name="insumo" [(ngModel)]="insumo.insumoId" >
                                                                        <option [ngValue]="null"></option>
                                                                        <option [ngValue]="insumoOption.id" *ngFor="let insumoOption of insumos; trackBy: trackInsumoById">{{insumoOption.nombre}}</option>
                                                                    </select>
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>
                                                                    <button type="button" (click)="insumo.isEditable=!insumo.isEditable" *ngIf="!insumo.isEditable">Edit</button>
                                                                    <button type="button" *ngIf="insumo.isEditable" (click)="insumo.isEditable=!insumo.isEditable">Save</button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">

                                                </div>
                                                <div class="col-6">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                        </button>
                                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


