<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productoEnvase">
            <h2><span jhiTranslate="queenBeerApp.productoEnvase.detail.title">Producto Envase</span> {{productoEnvase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="queenBeerApp.productoEnvase.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="productoEnvase.productoId">
                        <a [routerLink]="['/producto-queen-beer', productoEnvase.productoId, 'view']">{{productoEnvase.productoId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.productoEnvase.envase">Envase</span></dt>
                <dd>
                    <div *ngIf="productoEnvase.envaseId">
                        <a [routerLink]="['/envase', productoEnvase.envaseId, 'view']">{{productoEnvase.envaseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/producto-envase', productoEnvase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
