<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facturaVenta">
            <h2><span jhiTranslate="queenBeerApp.facturaVenta.detail.title">Factura Venta</span> {{facturaVenta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="queenBeerApp.facturaVenta.tipoDocumento">Tipo Documento</span></dt>
                <dd>
                    <span jhiTranslate="{{'queenBeerApp.TipoDocumento.' + facturaVenta.tipoDocumento}}">{{facturaVenta.tipoDocumento}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.facturaVenta.fecha">Fecha</span></dt>
                <dd>
                    <span>{{facturaVenta.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.facturaVenta.totalNeto">Total Neto</span></dt>
                <dd>
                    <span>{{facturaVenta.totalNeto}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.facturaVenta.tipoMoneda">Tipo Moneda</span></dt>
                <dd>
                    <span jhiTranslate="{{'queenBeerApp.TipoMoneda.' + facturaVenta.tipoMoneda}}">{{facturaVenta.tipoMoneda}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.facturaVenta.nroFactura">Nro Factura</span></dt>
                <dd>
                    <span>{{facturaVenta.nroFactura}}</span>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.facturaVenta.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="facturaVenta.clienteId">
                        <a [routerLink]="['/cliente-queen-beer', facturaVenta.clienteId, 'view']">{{facturaVenta.clienteId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/factura-venta', facturaVenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
