<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>
                    <span jhiTranslate="queenBeerApp.proveedor.home.title">Proveedors</span>
                </h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/"><i class="zmdi zmdi-home"></i> <span jhiTranslate="global.menu.home">Home</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <h2 id="page-heading">

                                    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proveedor-queen-beer" [routerLink]="['/proveedor-queen-beer/new']">
                                        <fa-icon [icon]="'plus'"></fa-icon>
                                        <span class="hidden-sm-down"  jhiTranslate="queenBeerApp.proveedor.home.createLabel">
                                            Create new Proveedor
                                        </span>
                                    </button>
                                </h2>
                                <jhi-alert></jhi-alert>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form name="searchForm" class="form-inline">
                                            <div class="input-group w-100 mt-3">
                                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'queenBeerApp.proveedor.home.search' | translate }}">
                                                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                                                    <fa-icon [icon]="'search'"></fa-icon>
                                                </button>
                                                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <br/>
                                <div class="table-responsive" *ngIf="proveedors">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="nombreFantasia"><span jhiTranslate="queenBeerApp.proveedor.nombreFantasia">Nombre Fantasia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="razonSocial"><span jhiTranslate="queenBeerApp.proveedor.razonSocial">Razon Social</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="cuit"><span jhiTranslate="queenBeerApp.proveedor.cuit">Cuit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="condicionFiscal"><span jhiTranslate="queenBeerApp.proveedor.condicionFiscal">Condicion Fiscal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="telefono"><span jhiTranslate="queenBeerApp.proveedor.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="fechaAlta"><span jhiTranslate="queenBeerApp.proveedor.fechaAlta">Fecha Alta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="direccion"><span jhiTranslate="queenBeerApp.proveedor.direccion">Direccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="localidad"><span jhiTranslate="queenBeerApp.proveedor.localidad">Localidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="codigoPostal"><span jhiTranslate="queenBeerApp.proveedor.codigoPostal">Codigo Postal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="contacto"><span jhiTranslate="queenBeerApp.proveedor.contacto">Contacto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="email"><span jhiTranslate="queenBeerApp.proveedor.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="provincia"><span jhiTranslate="queenBeerApp.proveedor.provincia">Provincia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="notas"><span jhiTranslate="queenBeerApp.proveedor.notas">Notas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let proveedor of proveedors ;trackBy: trackId">
                                            <td><a [routerLink]="['/proveedor-queen-beer', proveedor.id, 'view' ]">{{proveedor.id}}</a></td>
                                            <td>{{proveedor.nombreFantasia}}</td>
                                            <td>{{proveedor.razonSocial}}</td>
                                            <td>{{proveedor.cuit}}</td>
                                            <td jhiTranslate="{{'queenBeerApp.CondicionFiscal.' + proveedor.condicionFiscal}}">{{proveedor.condicionFiscal}}</td>
                                            <td>{{proveedor.telefono}}</td>
                                            <td>{{proveedor.fechaAlta | date:'medium'}}</td>
                                            <td>{{proveedor.direccion}}</td>
                                            <td>{{proveedor.localidad}}</td>
                                            <td>{{proveedor.codigoPostal}}</td>
                                            <td>{{proveedor.contacto}}</td>
                                            <td>{{proveedor.email}}</td>
                                            <td jhiTranslate="{{'queenBeerApp.Provincia.' + proveedor.provincia}}">{{proveedor.provincia}}</td>
                                            <td>{{proveedor.notas}}</td>
                                            <td class="text-right">
                                                <div class="btn-group flex-btn-group-container">
                                                    <button type="submit"
                                                            [routerLink]="['/proveedor-queen-beer', proveedor.id, 'view' ]"
                                                            class="btn btn-info btn-sm">
                                                        <fa-icon [icon]="'eye'"></fa-icon>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                                    </button>
                                                    <button type="submit"
                                                            [routerLink]="['/proveedor-queen-beer', proveedor.id, 'edit']"
                                                            class="btn btn-primary btn-sm">
                                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                                    </button>
                                                    <button type="submit"
                                                            [routerLink]="['/', { outlets: { popup: 'proveedor-queen-beer/'+ proveedor.id + '/delete'} }]"
                                                            replaceUrl="true"
                                                            queryParamsHandling="merge"
                                                            class="btn btn-danger btn-sm">
                                                        <fa-icon [icon]="'times'"></fa-icon>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Pager is not implemented yet, so this is normal pagination instead -->
                                <div *ngIf="proveedors && proveedors.length">
                                    <div class="row justify-content-center">
                                        <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                                    </div>
                                    <div class="row justify-content-center">
                                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


