<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="detalleVenta">
            <h2><span jhiTranslate="queenBeerApp.detalleVenta.detail.title">Detalle Venta</span> {{detalleVenta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="queenBeerApp.detalleVenta.facturaVenta">Factura Venta</span></dt>
                <dd>
                    <div *ngIf="detalleVenta.facturaVentaId">
                        <a [routerLink]="['/factura-venta', detalleVenta.facturaVentaId, 'view']">{{detalleVenta.facturaVentaId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.detalleVenta.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="detalleVenta.productoId">
                        <a [routerLink]="['/producto-queen-beer', detalleVenta.productoId, 'view']">{{detalleVenta.productoId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="queenBeerApp.detalleVenta.envase">Envase</span></dt>
                <dd>
                    <div *ngIf="detalleVenta.envaseId">
                        <a [routerLink]="['/envase', detalleVenta.envaseId, 'view']">{{detalleVenta.envaseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/detalle-venta', detalleVenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
