<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>
                    <h2><span jhiTranslate="queenBeerApp.compraInsumo.detail.title">Compra Insumo</span> {{compraInsumo.id}}</h2>
                </h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/"><i class="zmdi zmdi-home"></i> <span jhiTranslate="global.menu.home">Home</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <div *ngIf="compraInsumo">
                                    <h2><span jhiTranslate="queenBeerApp.compraInsumo.detail.title">Compra Insumo</span> {{compraInsumo.id}}</h2>
                                    <hr>
                                    <jhi-alert-error></jhi-alert-error>
                                    <dl class="row-md jh-entity-details">
                                        <dt><span jhiTranslate="queenBeerApp.compraInsumo.cantidad">Cantidad</span></dt>
                                        <dd>
                                            <span>{{compraInsumo.cantidad}}</span>
                                        </dd>
                                        <dt><span jhiTranslate="queenBeerApp.compraInsumo.unidad">Unidad</span></dt>
                                        <dd>
                                            <span jhiTranslate="{{'queenBeerApp.Unidad.' + compraInsumo.unidad}}">{{compraInsumo.unidad}}</span>
                                        </dd>
                                        <dt><span jhiTranslate="queenBeerApp.compraInsumo.descripcion">Descripcion</span></dt>
                                        <dd>
                                            <span>{{compraInsumo.descripcion}}</span>
                                        </dd>
                                        <dt><span jhiTranslate="queenBeerApp.compraInsumo.costoTotal">Costo Total</span></dt>
                                        <dd>
                                            <span>{{compraInsumo.costoTotal}}</span>
                                        </dd>
                                        <dt><span jhiTranslate="queenBeerApp.compraInsumo.compra">Compra</span></dt>
                                        <dd>
                                            <div *ngIf="compraInsumo.compraId">
                                                <a [routerLink]="['/compra-queen-beer', compraInsumo.compraId, 'view']">{{compraInsumo.compraId}}</a>
                                            </div>
                                        </dd>
                                        <dt><span jhiTranslate="queenBeerApp.compraInsumo.insumo">Insumo</span></dt>
                                        <dd>
                                            <div *ngIf="compraInsumo.insumoId">
                                                <a [routerLink]="['/insumo-queen-beer', compraInsumo.insumoId, 'view']">{{compraInsumo.insumoId}}</a>
                                            </div>
                                        </dd>
                                    </dl>

                                    <button type="submit"
                                            (click)="previousState()"
                                            class="btn btn-info">
                                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                                    </button>

                                    <button type="button"
                                            [routerLink]="['/compra-insumo-queen-beer', compraInsumo.id, 'edit']"
                                            class="btn btn-primary">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
