<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>
                    <span jhiTranslate="queenBeerApp.compraInsumo.home.title">Compra Insumos</span>
                </h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/"><i class="zmdi zmdi-home"></i> <span jhiTranslate="global.menu.home">Home</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <h2 id="page-heading">

                                    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compra-insumo-queen-beer" [routerLink]="['/compra-insumo-queen-beer/new']">
                                        <fa-icon [icon]="'plus'"></fa-icon>
                                        <span class="hidden-sm-down"  jhiTranslate="queenBeerApp.compraInsumo.home.createLabel">
            Create new Compra Insumo
            </span>
                                    </button>
                                </h2>
                                <jhi-alert></jhi-alert>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form name="searchForm" class="form-inline">
                                            <div class="input-group w-100 mt-3">
                                                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'queenBeerApp.compraInsumo.home.search' | translate }}">
                                                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                                                    <fa-icon [icon]="'search'"></fa-icon>
                                                </button>
                                                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <br/>
                                <div class="table-responsive" *ngIf="compraInsumos">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="cantidad"><span jhiTranslate="queenBeerApp.compraInsumo.cantidad">Cantidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="unidad"><span jhiTranslate="queenBeerApp.compraInsumo.unidad">Unidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="descripcion"><span jhiTranslate="queenBeerApp.compraInsumo.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="costoTotal"><span jhiTranslate="queenBeerApp.compraInsumo.costoTotal">Costo Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="compraId"><span jhiTranslate="queenBeerApp.compraInsumo.compra">Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th jhiSortBy="insumoId"><span jhiTranslate="queenBeerApp.compraInsumo.insumo">Insumo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let compraInsumo of compraInsumos ;trackBy: trackId">
                                            <td><a [routerLink]="['/compra-insumo-queen-beer', compraInsumo.id, 'view' ]">{{compraInsumo.id}}</a></td>
                                            <td>{{compraInsumo.cantidad}}</td>
                                            <td jhiTranslate="{{'queenBeerApp.Unidad.' + compraInsumo.unidad}}">{{compraInsumo.unidad}}</td>
                                            <td>{{compraInsumo.descripcion}}</td>
                                            <td>{{compraInsumo.costoTotal}}</td>
                                            <td>
                                                <div *ngIf="compraInsumo.compraId">
                                                    <a [routerLink]="['../compra-queen-beer', compraInsumo.compraId , 'view' ]" >{{compraInsumo.compraId}}</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div *ngIf="compraInsumo.insumoId">
                                                    <a [routerLink]="['../insumo-queen-beer', compraInsumo.insumoId , 'view' ]" >{{compraInsumo.insumoId}}</a>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group flex-btn-group-container">
                                                    <button type="submit"
                                                            [routerLink]="['/compra-insumo-queen-beer', compraInsumo.id, 'view' ]"
                                                            class="btn btn-info btn-sm">
                                                        <fa-icon [icon]="'eye'"></fa-icon>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                                    </button>
                                                    <button type="submit"
                                                            [routerLink]="['/compra-insumo-queen-beer', compraInsumo.id, 'edit']"
                                                            class="btn btn-primary btn-sm">
                                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                                    </button>
                                                    <button type="submit"
                                                            [routerLink]="['/', { outlets: { popup: 'compra-insumo-queen-beer/'+ compraInsumo.id + '/delete'} }]"
                                                            replaceUrl="true"
                                                            queryParamsHandling="merge"
                                                            class="btn btn-danger btn-sm">
                                                        <fa-icon [icon]="'times'"></fa-icon>
                                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Pager is not implemented yet, so this is normal pagination instead -->
                                <div *ngIf="compraInsumos && compraInsumos.length">
                                    <div class="row justify-content-center">
                                        <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                                    </div>
                                    <div class="row justify-content-center">
                                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
